@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

* {
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



h1, h2, h3, h4, h5, h6, span {
    text-align: center;
    line-height: 1.25;
  }

  h1 {
  font-size: 36px;
}

p {
  line-height: 16px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.text__purple {
  color: blue;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}


.container {
  padding: 80px 0;
}


/* NAV */

.logo__img {
  width: 100%;
  max-width: 40px;
  margin: 0px 12px 0px 0px;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-weight: bold;
  margin: 0 24px;
  padding-right: 0px 0px 4px;
  color: black;
}

.nav__link:hover {
  color: blue;
  text-decoration: underline;
}

.nav__link--styled:hover,
.nav__link--styled--background:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.nav__link--styled {
  font-weight: bold;
  margin: 0 24px 0 48px;
  color: black
}

.nav__link--styled--background {
  color: white;
  font-weight: bold;
  background: blue;
  padding: 0px 16px;
  border-radius: 64px;
}

button:hover {
  cursor: not-allowed;
}


/* FORM */

.form {
  display: flex;
  margin: 120px 0px;
}

.approved {
  display: flex;
  padding-top: 24px;
  opacity: 0.07;
}

.recommender__text {
  padding-right: 8px;
  padding-top: 16px;
  cursor: default;
}

.form__input {
  display: flex;
}

.form__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__img {
  width: 100%;
  max-width: calc(1200px - 40%);
}

.recommender {
  display: flex;
}

.recommender__img {
  width: 100%;
  max-width: 68px;
}
/* FEATURES */

.services {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.service {
  display: flex;
  width: calc(100%/3);
  padding: 20px;
}

.service__description {
  display: flex;
  flex-direction: column;
}

.emoji {
  color: blue;
}

/* PRICES */

.price {
  padding: 36px;
}

/*Footer*/

footer {
  background-color: #a4a7a8;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px ;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}

.footer__logo--img {
  width: 70px;
  height: 70px;
}

.footer__social--link,
.footer__logo--popper,
.footer__copyright {
  color: black;
}

.footer__copyright {
  font-size: x-small;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

.provided__info {
  opacity: 0.4;
  font-size: 12px;
}


/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}